body{
    color: black;
    margin: 0px;
    padding: 0px;
    background: url('img/gym.jpg') no-repeat;
    background-size: cover;
}
.left{
    display: inline-block;
    position: absolute;
    left: 34px;
    top: 20px;
}
.left img{
    width: 136px;
    height: 80px;
}
.left div{
    text-align: center;
}
.mid{
    display: block;
    margin: 20px auto;
    width: 33%;
}
.right{
    display: inline-block;
    position: absolute;
    right: 34px;
    top: 20px;

}


.nav-bar li{
    display: inline-block;
}
.nav-bar li a{
    color: black;
    padding:  34px 12px;
}

.btn{
    margin: 0px 9px;
    background-color: black;
    color: white;
    padding: 4px 14px;
    border-radius: 14px;
    cursor: pointer;
}
.btn:hover{
    background-color:  grey;
}
.container{
    position: relative;
    top: 90px;
    left: 40px;
    border: 2px solid white;
    
    border-radius: 28px;
    padding: 75px;
    width: 33%;
}
.container h1{
    text-align: center;
}
.form-group input{
    text-align: center;
    width: 500px;
    padding: 1px;
    margin: 11px auto;
    font-size: 25px;
    border-radius: 8px;
}
.container button{
    display: block;
    width:fit-content;
    margin: 20px auto;
    border-radius: 9px;

}